<div class="container">
  <div class="row">  
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 p-3">
      <div class="card">
        <img class="card-img" src="./assets/slike/trekking1.jpg" alt="Nepal">
        <div class="card-img-overlay">
         <!-- <a href="#" class="btn btn-light btn-sm">Read More</a>-->
        </div>
        <div class="card-body">
          <h4 class="card-title">Trekking in Nepal</h4>
          <small class="text-muted cat">
            <i class="fas fa-globe-asia"></i>Travel
            <i class="fas fa-thumbs-up"></i>Recomanded
          </small>
          <p class="card-text">Nepal is known globally for its picturesque mountains. Especially known to most is the mighty Mount Everest,
             and a lot of people travel from all over to capture a glimpse of the world’s tallest peak.</p>
          <a href="#" class="btn btn-outline-info">Read more</a>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
          <div class="views">Avg 20, 12:45PM
          </div>
          <div class="stats">
           	<i class="far fa-eye"></i> 87
            <i class="far fa-comment"></i> 34
          </div>
           
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 p-3">
      <div class="card">
        <img class="card-img" src="./assets/slike/trekking2.jpg" alt="">
        <div class="card-img-overlay">
          <!--<a href="#" class="btn btn-light btn-sm">Read More</a>-->
        </div>
        <div class="card-body">
          <h4 class="card-title">TIGER LEAPING GORGE TREKKING GUIDE</h4>
          <small class="text-muted cat">
            <i class="fas fa-globe-asia"></i>Travel
            <i class="fas fa-thumbs-up"></i>Recomanded
          </small>
          <p class="card-text">Our ultimate Tiger Leaping Gorge trekking guide in China’s Yunnan province,
             and all the information you would ever need! Vertical cliffs...</p>
         <a href="#" class="btn btn-outline-info">Read More</a>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
          <div class="views">Avg 20, 12:45PM
          </div>
          <div class="stats">
           	<i class="far fa-eye"></i> 873
            <i class="far fa-comment"></i> 9
          </div>  
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 p-3">
      <div class="card">
        <img class="card-img" src="./assets/slike/trekking4.jpg" alt="Bologna">
        <div class="card-img-overlay">
          <!--<a href="#" class="btn btn-outline-info">Read More</a>-->
        </div>
        <div class="card-body">
          <h4 class="card-title">6 MEMORABLE DAY HIKES IN THE BALKANS</h4>
          <small class="text-muted cat">
            <i class="fas fa-globe-asia"></i>Travel
            <i class="fas fa-thumbs-up"></i>Recomanded
          </small>
          <p class="card-text">From exploring the sand pyramids of Bulgaria to trekking to ancient castles in Macedonia,
             these are just some of the best day...</p>
          <a href="#" class="btn btn-outline-info">Read More</a>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
          <div class="views">Avg 20, 12:45PM
          </div>
          <div class="stats">
           	<i class="far fa-eye"></i> 347
            <i class="far fa-comment"></i> 19
          </div>  
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 p-3">
      <div class="card">
        <img class="card-img" src="./assets/slike/trekking7.jpg" alt="Bologna">
        <div class="card-img-overlay">
          <!--<a href="#" class="btn btn-light btn-sm">Read More</a>-->
        </div>
        <div class="card-body">
          <h4 class="card-title">USHUAIA – CHILLING AT THE END OF THE WORLD</h4>
          <small class="text-muted cat">
            <i class="fas fa-globe-asia"></i>Travel
            <i class="fas fa-thumbs-up"></i>Recomanded
          </small>
          <p class="card-text">I’ve always been inspired by the far corners of the globe. The places where one continent ends,
             tumbling into the sea and beckoning…</p>
          <a href="#" class="btn btn-outline-info">Read More</a>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
          <div class="views">Avg 20, 12:45PM
          </div>
          <div class="stats">
           	<i class="far fa-eye"></i> 245
            <i class="far fa-comment"></i> 24
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>
<div id="upload">
  <button type="submit" routerLink="/postblog"><i class="far fa-edit"></i></button>
</div>
